@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazirmatn-Bold.woff2") format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazirmatn-Regular.woff2") format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url("../fonts/Vazirmatn-SemiBold.woff2") format('woff2');
    font-weight: 500;
}